{%extends "layout.html"%}
{%block content%}
<title>爬取信息</title>
<style>
      .fs{width:400px;
      height:120px;
      margin:100px auto;
      background-color:#b8b8b8;
      border-radius:10px;
      box-shadow:5px 5px 5px 5px #aaa;
      }
    </style>
<div class="fs">
    <form method="post" style="padding-left:10px;padding-right:10px;padding-top:10px;">
        {% csrf_token %}
        <input type="text" name="uid" class="form-control" placeholder="输入需要爬取的用户UID" >
        <button type="submit" class="btn btn-success btn-lg" style="margin-top:10px">提交</button>
    </form>
</div>
{%endblock%}